<style>
    table {
        width: 100%;
    }

    button {
        font-size: larger;
    }

    .current-date {
        font-style: italic;
        margin-left: 14px;
    }

    .language {
        text-align: right;
    }
</style>
<div id="controls">
    <table>
        <tr>
            <td>
                <button mat-button="elevated" (click)="displayPrevDay()">Previous Day</button>
                @if ( ! isOnToday() ) {
                &nbsp;
                <button mat-button="filled" (click)="displayToday()">Today</button>
                &nbsp;
                <button mat-button="filled" (click)="displayNextDay()">Next Day</button>
                }
                <div class="current-date">{{ currentDate() | date }}</div>
            </td>
            <td class="language">
                <mat-form-field>
                <mat-label>Language</mat-label>
                <mat-select [(ngModel)]="selectedValue" (ngModelChange)="updateLanguageId()">
                    @for (lang of supportedLanguages; track lang) {
                        <mat-option [value]="lang.id">{{lang.name}}</mat-option>
                    }
                </mat-select>
                </mat-form-field>
            </td>
        </tr>
    </table>
</div>
