<style>
    .most-read {
        padding-left: 20px;
    }

    .header-article {
        text-align: left
    }

    .views {
        text-align: right
    }
</style>

<div class="most-read">
    <h1>Most Read Article</h1>

    @if ( loading() ) 
    {
        <p>Loading...</p>
    }
    <table>
        <tr>
            <th class='header-article'>Article</th>
            <th class="views">Views</th>
        </tr>
    @for ( article of articles(); track article.title ) {
        <tr>
            <td>
                <div><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></div>
                <div>{{ article.description }}</div>
            </td>
            <td class="views">{{ article.views | number: '1.0-0'}}</td>
        </tr>
    }
    </table>
</div>